/* 
FONTS: 
font-family: 'Rajdhani', sans-serif;
font-family: 'Sansita Swashed', cursive; 

COLOURS:
Dark green: #35403A
Dark: #252626
Green: #4C594F
Light Green: #A4A69C
Light: #BFBFB8

ICONS: 
<i class="fas fa-heart"></i>
*/

* {
	border-sizing: border-box;
}

html,
body {
	background-color: #4c594f;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Rajdhani", sans-serif;
	color: #bfbfb8;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	height: 60px;
	background-color: #bfbfb8;
	margin: 0;
}
.header div {
	color: #252626;
	font-size: 22px;
	padding: 20px 40px;
}

h1 {
	font-family: "Sansita Swashed", cursive;
	font-weight: 600;
	font-size: 40px;
	text-shadow: 2px 2px 5px #252626;
}

.container {
	max-width: 1200px;
	margin: 20px 40px;
	flex: 1 0 auto;
}

.apiContainer {
	display: flex;
	flex-wrap: wrap;
}

.article {
	background-color: #252626;
	width: 300px;
	padding: 30px;
	margin: 0px 20px 20px 0px;
	border-radius: 5px;
}

h4 {
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.article p {
	font-size: 20px;
}

.summarytitle {
	margin: 18px 0px 0px 0px;
	text-transform: uppercase;
}

.summary {
	margin: 2px 0px 18px 0px;
}

.article i {
	font-size: 35px;
	padding: 10px;
}

footer {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	height: 40px;
	background-color: #bfbfb8;
}

footer p {
	font-family: "Sansita Swashed", cursive;
	font-weight: 300;
	font-size: 18px;
	color: #252626;
}
