/* 
FONTS: 
font-family: 'Rajdhani', sans-serif;
font-family: 'Sansita Swashed', cursive; 

COLOURS:
Dark green: #35403A
Dark: #252626
Green: #4C594F
Light Green: #A4A69C
Light: #BFBFB8
Red: #7b0000

ICONS: 
<i class="fas fa-heart"></i>
*/

* {
	border-sizing: border-box;
}

html,
body {
	background-color: #4c594f;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Rajdhani", sans-serif;
	color: #bfbfb8;
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	background-color: #bfbfb8;
	margin: 0;
}

.header div {
	color: #252626;
	font-size: 20px;
	margin: 20px 0px;
	text-align: center;
}

nav {
	text-align: center;
	margin: 30px 0px;
}

nav a {
	color: #252626;
	font-size: 16px;
	padding: 5px 10px;
	margin-right: 20px;
	border: 2px solid #4c594f;
	border-radius: 5px;
	text-decoration: none;
}

.active {
	background-color: #35403a;
	color: #bfbfb8;
}

h1 {
	font-family: "Sansita Swashed", cursive;
	font-weight: 600;
	font-size: 40px;
	text-shadow: 2px 2px 5px #252626;
}

input {
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #252626;
	font-size: 16px;
}

input:focus {
	outline: none;
}

.container {
	max-width: 1200px;
	margin: 20px 40px;
	flex: 1 0 auto;
}

.apiContainer {
	display: flex;
	flex-wrap: wrap;
}

.article {
	background-color: #252626;
	width: 300px;
	padding: 30px;
	margin: 0px 20px 20px 0px;
	border-radius: 5px;
}

h4 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.article p {
	font-size: 18px;
}

.summarytitle {
	margin: 18px 0px 0px 0px;
	text-transform: uppercase;
}

.summary {
	margin: 2px 0px 18px 0px;
}

.article i {
	font-size: 35px;
	padding: 10px;
}

.fas {
	color: #7b0000;
}

button {
	padding: 7px;
	background-color: #ffffff;
	color: #252626;
	border: 1px solid #252626;
	border-radius: 5px;
	font-size: 14px;
	text-transform: uppercase;
	margin: 10px 0px 30px 0px;
}

button:focus {
	outline: none;
}

footer {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	background-color: #bfbfb8;
}

footer p {
	font-family: "Sansita Swashed", cursive;
	font-weight: 300;
	font-size: 16px;
	color: #252626;
}

/* LOG IN PAGE */
form {
	margin: 0 auto;
	max-width: 400px;
}
label {
	color: #ffffff;
	display: block;
}

.forminput input {
	width: 100%;
	margin: 10px 0px;
}

/* DISPLAY MESSAGES */

.message {
	margin-bottom: 30px;
	width: 50%;
	padding: 20px;
	color: #ffffff;
}

.message.error {
	background-color: red;
	border: 2px solid red;
}

.message.warning {
	background-color: orange;
	border: 2px solid orange;
}

.message.success {
	background-color: green;
	border: 2px solid green;
}

/* ADD PAGE */

.addForm input {
	max-width: 800px;
	width: 80%;
	margin-bottom: 10px;
}
#summary {
	max-width: 800px;
	width: 80%;
	max-height: 200px;
	height: 200px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #252626;
	font-size: 16px;
}

.addForm button {
	max-width: 800px;
	width: 83%;
	padding: 10px;
	background-color: #252626;
	color: #ffffff;
}

/* EDIT PAGE */

.editForm {
	display: none;
}

i.fa-edit {
	color: #bfbfb8;
	font-size: 20px;
}

.editForm input {
	max-width: 800px;
	width: 80%;
	margin-bottom: 10px;
}

#update {
	max-width: 800px;
	width: 83%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #252626;
	color: #ffffff;
}

.delete {
	background: #7b0000;
	color: #ffffff;
	border: none;
	max-width: 800px;
	width: 83%;
	padding: 10px;
}
