/* font-family: 'Rajdhani', sans-serif;
font-family: 'Sansita Swashed', cursive; */
/* 
COLOURS:
Dark green: #35403A
Dark: #252626
Green: #4C594F
Light Green: #A4A69C
Light: #BFBFB8
*/

* {
	border-sizing: border-box;
}

html,
body {
	background-color: #4c594f;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Rajdhani", sans-serif;
	color: white;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	height: 60px;
	background-color: #bfbfb8;
	margin: 0;
	box-shadow: 0 6px 3px -3px #35403a;
}

h1 {
	font-family: "Sansita Swashed", cursive;
	font-weight: 600;
	font-size: 40px;
	text-shadow: 2px 2px 5px #252626;
}

.container {
	max-width: 700px;
	margin: 20px 40px;
	flex: 1 0 auto;
}

footer {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	height: 40px;
	background-color: #bfbfb8;
	box-shadow: 0px -3px 6px #35403a;
}

footer p {
	font-family: "Sansita Swashed", cursive;
	font-weight: 300;
	font-size: 14px;
	color: #252626;
}
